<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="beitmemcached" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<appSettings>
	</appSettings>
	<beitmemcached>
		<!--<add key="MyConfigFileCache" value="localhost" />
		<add key="MyOtherConfigFileCache" value="server1.example.com:12345, server2.example.com:12345, server3.example.com:12345" />-->

    <add key="MyConfigFileCache" value="localhost:11211" />
    <add key="MyOtherConfigFileCache" value="127.0.0.1:11211" />
	</beitmemcached>
</configuration>