<?xml version="1.0" encoding="utf-8" ?>

<configuration>


  <!--enyim 客户端配置-->
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
    </sectionGroup>
  </configSections>
  <enyim.com>
    <memcached>
      <servers>
        <add address="106.14.218.31" port="11211"/>
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="50" connectionTimeout="00:10:00" deadTimeout="00:02:00"/>
    </memcached>
  </enyim.com>

  <appSettings>
    <!--缓存过期时间间隔-->
    <add key="ExpirationTime" value="1"/>
  </appSettings>

  <connectionStrings>
    <add name="currentDB" connectionString="Data Source=(local); Initial Catalog=TestDb; User Id=sa; Password=123456;"/>
  </connectionStrings>

</configuration>
